 .u-section-1 {
  background-image: url("images/Building1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 686px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 57px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 592px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-family: Bangers;
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin: 22px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 43px auto 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 43px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-image-1 {
  min-height: 406px;
  background-image: url("images/Building2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  min-height: 406px;
  background-image: url("images/Building3.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 446px;
  }

  .u-section-2 .u-image-2 {
    min-height: 446px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-image-1 {
    min-height: 302px;
  }

  .u-section-2 .u-image-2 {
    min-height: 302px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 360px;
  }

  .u-section-2 .u-image-2 {
    min-height: 360px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 936px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 42px auto 42px 0;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/IMG-20220127-WA0014.jpg");
  min-height: 450px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-family: Bangers;
  letter-spacing: 2px;
  margin: 4px 13px 0 154px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/IMG-20220127-WA0010-10.jpg");
  min-height: 421px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/IMG-20220420-WA0009.jpg");
  min-height: 294px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  background-image: url("images/IMG-20210922-WA0008.jpg");
  min-height: 282px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-5 {
  background-image: url("images/IMG-20220127-WA0005.jpg");
  min-height: 295px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-6 {
  background-image: url("images/IMG-20220127-WA0013.jpg");
  min-height: 437px;
  background-position: 50% 50%;
}

.u-section-3 .u-text-2 {
  font-family: Bangers;
  letter-spacing: 2px;
  margin: 6px 154px 0 13px;
}

.u-section-3 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/IMG-20220127-WA0010.jpg");
  min-height: 435px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-3 .u-image-3 {
    min-height: 295px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 100px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 426px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 639px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 402px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 641px;
}

.u-section-4 .u-text-1 {
  font-family: Bangers;
  letter-spacing: 2px;
  font-size: 2.25rem;
  margin: 7px 7px 0 720px;
}

.u-section-4 .u-group-1 {
  width: 456px;
  min-height: 627px;
  height: auto;
  margin: -78px auto 7px 0;
}

.u-section-4 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-4 .u-text-2 {
  font-family: Bangers;
  letter-spacing: 2px;
  font-size: 2.25rem;
  margin: 39px 20px 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 7px -694px 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-4 .u-image-1 {
  height: 312px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 33px 20px 27px;
}

.u-section-4 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 522px;
}

.u-section-4 .u-image-2 {
  height: 312px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 33px 20px 27px;
}

.u-section-4 .u-btn-2 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 527px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 307px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 127px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-bottom: 80px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 221px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1545px;
  margin: -18px -405px 10px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 279px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  margin: 64px 60px 0;
}

.u-section-5 .u-text-2 {
  margin: 7px 60px 0;
}

.u-section-5 .u-text-3 {
  margin: 3px 60px 0;
}

.u-section-5 .u-text-4 {
  margin: 0 60px;
}

.u-section-5 .u-image-1 {
  width: 150px;
  height: 140px;
  margin: -121px 15px 25px auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 279px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 267px;
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-5 .u-text-1 {
    width: 350px;
    margin-right: -40px;
    margin-left: 49px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 109px;
    margin-left: 49px;
  }

  .u-section-5 .u-text-3 {
    width: 350px;
    margin-right: -40px;
    margin-left: 49px;
  }

  .u-section-5 .u-text-4 {
    width: 350px;
    margin-right: -40px;
    margin-left: 49px;
  }

  .u-section-5 .u-image-1 {
    width: 86px;
    margin-top: -92px;
    margin-right: 12px;
    margin-bottom: 74px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 42px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    width: 268px;
    margin-right: -25px;
    margin-left: 38px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 69px;
    margin-left: 38px;
  }

  .u-section-5 .u-text-3 {
    width: 268px;
    margin-right: -25px;
    margin-left: 38px;
  }

  .u-section-5 .u-text-4 {
    width: 268px;
    margin-right: -25px;
    margin-left: 38px;
  }

  .u-section-5 .u-image-1 {
    width: 95px;
    margin-top: -104px;
    margin-right: 0;
    margin-bottom: 87px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 95px;
    margin-left: 20px;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 149px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 95px;
    margin-left: 20px;
    width: auto;
  }

  .u-section-5 .u-text-4 {
    margin-right: 95px;
    margin-left: 20px;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 89px;
    margin-top: -93px;
    margin-right: 15px;
    margin-bottom: 101px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 79px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 44px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 79px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 40px;
    margin-left: 6px;
  }

  .u-section-5 .u-image-1 {
    width: 86px;
    margin-top: -118px;
    margin-right: 7px;
    margin-bottom: 126px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
}